{% extends 'myapp/base.html' %}
{% load thumbnail%}

{% block content %}
<h1>{{title}}</h1>
{% if object.image %}
<a href="{{object.image.url}}" target="_self">
{% thumbnail object.image "200x100" crop="center" as im %}
  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
</a>
{% endthumbnail %}
{% endif %}
<table border="2">
    <tr>
        <td>id</td>
        <td>{{сar.id}}</td>
    </tr>
    <tr>
        <td>Марка</td>
        <td>{{car.brand}}</td>
    </tr>
    <tr>
        <td>Модель</td>
        <td>{{car.model}}</td>
    </tr>
    <tr>
        <td>Цвет</td>
        <td>{{car.color}}</td>
    </tr>
    </tr>
    <tr>
        <td>Мощность</td>
        <td>{{car.power}}</td>
    </tr>
    </tr>
    <tr>
        <td>Год выпуска</td>
        <td>{{car.year}}</td>
    </tr>

</table>
{% endblock %}